
@font-face {
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    src: local('Cursed Timer ULiL'), url('https://fonts.cdnfonts.com/s/40642/CursedTimerUlil-Aznm.woff') format('woff');
}

body{
    width: 600px;
    height: 700px;
    text-align: center;
    font-family: 'Verdana';
    background: #1B244A;
    border-radius: 10px;
    color: white;
    margin: 0 auto;
}
.container{
    display: flex;
    justify-content: space-evenly;
    
}

.score{
    margin-top: 20px;
    width: 90px;
    background: black;
    color: #F94F6D;;
    padding: 25px 30px;
    font-size: 50px;
    border-radius: 5px;
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
 
}

button{
    margin: 10px 0;
    border: 1px solid #9AABD8;
    padding: 8px 6px;
    background:none;
    border-radius: 3px;
    color: white;
    
    

}
button:hover {
    background: brown;
}
#new-btn {
    width: 150px;
}